{
	"development": {
		"PAYBYRD_TOKEN_URL": "https://tokensandbox.paybyrd.com",
		"PAYBYRD_CODE_KEY": ""
	},
	"development-build": {
		"PAYBYRD_TOKEN_URL": "https://tokensandbox.paybyrd.com",
		"PAYBYRD_CODE_KEY": ""
	},
	"stage": {
		"PAYBYRD_TOKEN_URL": "https://tokensandbox.paybyrd.com",
		"PAYBYRD_CODE_KEY": ""
	},
	"production": {
		"PAYBYRD_TOKEN_URL": "https://token.paybyrd.com",
		"PAYBYRD_CODE_KEY": ""
	}
}
